<ion-view view-title="hasCode.com Tag Search" ng-controller="SearchController as search">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search articles by tag" ng-model="search.term" ng-keyup="$event.keyCode == 13 && search.searchTerm()" ng-change="search.resetResults()">
            </label>
            <h3 ng-show="search.showResults">{{search.hits.length}} Hits for &quot;{{search.term}}&quot;</h3>
            <div class="list" ng-repeat="hit in search.hits">
                <blogarticle data="hit"/>
            </div>
        </div>
    </ion-content>
</ion-view>
