<ion-view view-title="hasCode.com Tag Search" ng-controller="SearchController as search">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search articles by tag" ng-model="term" run-and-blur="searchTerm()" ng-keyup="$event.keyCode == 13 && searchTerm()" ng-change="resetResults()">
            </label>
            <h3 ng-show="showResults">{{hits.length}} Hits for &quot;{{term}}&quot;</h3>
            <div class="list" ng-repeat="hit in hits">
                <blogarticle data="hit" browse="browse(hit.url)"/>
            </div>
        </div>
    </ion-content>
</ion-view>
