<ion-view view-title="About" ng-controller="AboutController as about">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                <h2>hasCode.com Tag Search App</h2>
            </div>
                <div class="item item-image">
                    <img src="img/icon.png">
                </div>
            <div class="item item-divider">
                <a href="http://www.hascode.com/">{{about.year}} Micha Kops /  www.hascode.com</a>
            </div>
        </div>
    </ion-content>
</ion-view>
